* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding não aumente o tamanho dos elementos */
    font-family: 'Goldman', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: Arial, sans-serif;
    color: goldenrod;
    background: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    border-radius: 3px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

header nav .logo img {
    filter: drop-shadow(5px 5px 5px goldenrod);
    max-width: 300px;
    height: auto;
    display: block;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: goldenrod;
}

.banner {
    width: 100%;
    margin-top: 70px;
}
.banner img{
    width: 100%;
}

main {
    padding-top: 10px;
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: whitesmoke;
    border-radius: 15px;
    overflow: hidden;
    section {
    padding: 30px 20px;
    text-align: center;
    }
    .h2-main {
    font-size: 28px;
    margin-bottom: 15px;
    }
    .texto {
    color: black;
    font-size: 16px;
    line-height: 1.6;
    }
    img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
}


@media (max-width: 480px) {
    header nav {
        flex-direction: column;
        text-align: center;
        padding: 10px 20px;
    }

    header nav ul {
        gap: 10px;
        padding: 10px 0;
    }

    header nav .logo img {
    max-width: 200px;
    height: auto;
    display: block;
}

    a:hover{
        color: goldenrod;
    }

    .banner {
        margin-top: 50px;
    }

    .banner img{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }


    main section {
        padding: 60px;
        text-align: left; /* Texto alinhado à esquerda no desktop */
    }

    .h2-main {
        font-size: 24px; /* Reduzi o tamanho, 40px fica muito grande no celular */
    }

}