*{
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    font-family: 'Goldman', sans-serif;
    scroll-behavior: smooth;  /* Rolagem suave para links de âncora */
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: goldenrod;
  background: white
}
header{
  position: fixed;
  top: 0px;
  width: 100%; 
  padding: 5px;
  text-align: center;
  background-color: white;
  img{
    width: 150px;
  }
  nav{
    a{
      padding: 30px;
      line-height: 50px;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}

.banner{
  width: 100%;
  height: 50vh;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


main{
  width: 480px;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-top: 50px;
  section{
    padding: 70px;
    .comojogar{
      font-size: 36px;
      margin-bottom: 20px;
    }
    .texto{
      font-size: 18px;
      line-height: 1.5;
      color: black;
    }
    .controles {
      text-align: center;
    }

    img{
      width: 400px;
      height: auto;
    }
  }
}
footer{
  text-align: center;
  padding: 20px;
  background-color: white;
  color: black;
}

@media (min-width: 480px) {
  header {
    width: 100%;
    display: inline-block;
    .logo{
      float: left;
    }
    nav{
      float: right;
      ul{
        list-style: none;
        li{
          display: inline-block;
          padding: 25px;
          a{
            text-transform: uppercase;
            font-size: 18px;
          }
          a:hover{
            color: goldenrod;
          }
        }
      }
    }
  }
  .banner{
    margin-top: 80px;
  }

  main{
    width: 1200px;

  }
}